@model GreenLineDataService.ViewModel.ContractChargeConstraintViewModel

@{
    var ChargeList = new List<SelectListItem> {
      new SelectListItem { Text = "Booking", Value = "BKG", Selected=true}
    };
}

@using (Html.BeginForm("AddModeChargeMatrix", "Contract", FormMethod.Post, new { id = "form_sampleChargeMatrix", @class = "form-modern-ui", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.chargeContraint.ContractId)
    @Html.HiddenFor(m => m.chargeContraint.Custcode)

    <div class="row">
        <div class="col-md-12">
            <div class="card m-0">
                <div class="card-header">
                    <h5 class="card-title">
                        <i class="ri-layout-grid-line align-middle me-1"></i> Charge Matrix Defination
                    </h5>
                </div>
                <div class="card-body">
                    <div class="row d-flex justify-content-center" style="display:none !important;">
                        <div class="col-md-3">
                            <label class="form-label required-field text-muted">Charge at time of</label>
                            @Html.DropDownListFor(m => m.chargeContraint.chargetype, new SelectList(ChargeList, "Value", "Text"), new { @class = "required select2 drp form-control", placeholder = "Select Charge Time Of", @disabled = "disabled" })
                            @Html.HiddenFor(m => m.chargeContraint.chargetype)
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <table id="tblSubItem" class="table table-striped table-bordered table-hover table-full-width center m-0">
                            <thead class="flip-content">
                                <tr>
                                    <th class="center">Charge Name</th>
                                    <th class="center">Applicable</th>
                                    <th class="center">Required</th>
                                    <th class="center">Bill to Customer</th>
                                </tr>
                            </thead>
                            <tbody id="containerTblSubItem">
                                @foreach (var item in Model.ListContraint)
                                {
                                    Html.RenderPartial("_PartialChargeMatrix", item);
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="form-actions">
    <button type="button" onclick="goToTabForCheck()" class="@ViewBag.UI.Buttons.Previous.CssClass"><i class="@ViewBag.UI.Buttons.Previous.Icon"></i>@ViewBag.UI.Buttons.Previous.Label</button>
    <button type="button" id="btnSubmitChargeMatrix" class="@ViewBag.UI.Buttons.Submit.CssClass"><i class="@ViewBag.UI.Buttons.Submit.Icon"></i>Save & Next</button>
    <button type="button" id ="btnSubmitChargeMatrixNext" onclick="goToTab(7)" class="@ViewBag.UI.Buttons.Next.CssClass"><i class="@ViewBag.UI.Buttons.Next.Icon"></i>@ViewBag.UI.Buttons.Next.Label</button>
</div>

