@model GreenLineDataService.Models.CYGNUS_CustContract_FRTMatrix_SingleSlab
@using GreenLineDataService.Models
@using GreenLine.Helpers
@{
    GreenLineDataService.Helper.Interface.IMasterService _masterService = new GreenLineDataService.Helper.MasterService();
    GreenLineDataService.Helper.Interface.IContractService _contractService = new GreenLineDataService.Helper.ContractService();
    //CityMaster
    List<CYGNUS_citymaster> GetCityMasterObject = _masterService.GetCityMaster().Where(c => c.activeflag == "Y").ToList();
    List<CYGNUS_Master_General> GetZoneMasterObject = _masterService.GetGeneralMasterWithParam("ZONE","").ToList();
    List<CYGNUS_State> Getstateobject = _masterService.GetStateMaster().Where(C => C.activeflag == "Y").ToList();

    //lOCATION
    List<CYGNUS_location> GetLocationDetails = _masterService.GetLocationDetails().Where(c => c.ActiveFlag == "Y").ToList();
    foreach (var item in GetLocationDetails)
    {
        item.LocName = item.LocCode + "~" + item.LocName;
    }

    List<SelectListItem> BlankList = new List<SelectListItem>();
}
<tr class="editorRow">
    @Html.Hidden("hdnblnk", Model.Id, new { @class = "iHidden" })
    @using (Html.BeginCollectionItem("SlabList", Model.Id.ToString()))
    {
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-1">
                    @Html.DisplayFor(m => m.Id)
                    @Html.HiddenFor(m => m.contractid)
                    @Html.HiddenFor(m => m.OldFromLoc)
                    @Html.HiddenFor(m => m.OldToLoc)
                    @Html.HiddenFor(m => m.FilterMatrixtype)
                    @Html.HiddenFor(m => m.FilterToLoc)
                    @Html.HiddenFor(m => m.FilterTrnsMode)
                    @Html.HiddenFor(m => m.basecode1)
                    @Html.HiddenFor(m => m.basecode2)
                    @Html.HiddenFor(m => m.basedon1)
                    @Html.HiddenFor(m => m.basedon2)
                    @Html.HiddenFor(m => m.srno)
                    @Html.HiddenFor(m => m.BillingState1)
                </div>
            </div>
        </td>

        if (Model.FilterMatrixtype == "C")
        {
            <td class="col-md-1">
                <div class="form-group">
                    <div class="col-md-11">
                        @Html.DropDownListFor(m => m.FromLoc, new SelectList(GetCityMasterObject, "Location", "Location"), "", new { placeholder = "Select From City", @class = "form-control select2  required" })
                    </div>
                </div>
            </td>
            <td class="col-md-1">
                <div class="form-group">
                    <div class="col-md-11">
                        @Html.DropDownListFor(m => m.toloc, new SelectList(GetCityMasterObject, "Location", "Location"), "", new { placeholder = "Select To City", @class = "form-control select2  required" })
                    </div>
                </div>
            </td>
        }
        else if (Model.FilterMatrixtype == "R")
        {
            <td class="col-md-1">
                <div class="form-group">
                    <div class="col-md-11">
                        @Html.DropDownListFor(m => m.FromLoc, new SelectList(GetZoneMasterObject, "CodeId", "CodeDesc"), "", new { placeholder = "Select From Zone", @class = "form-control select2  required" })
                    </div>
                </div>
            </td>
            <td class="col-md-1">
                <div class="form-group">
                    <div class="col-md-11">
                        @Html.DropDownListFor(m => m.toloc, new SelectList(GetZoneMasterObject, "CodeId", "CodeDesc"), "", new { placeholder = "Select To Zone", @class = "form-control select2  required" })
                    </div>
                </div>
            </td>
        }
        else if (Model.FilterMatrixtype == "S")
        {
            <td class="col-md-1">
                <div class="form-group">
                    <div class="col-md-11">
                        @Html.DropDownListFor(m => m.FromLoc, new SelectList(Getstateobject, "stcd", "stnm"), "", new { placeholder = "Select From State", @class = "form-control select2 ft required clsChkDuplicateFLT" })
                    </div>
                </div>
            </td>
            <td class="col-md-1">
                <div class="form-group">
                    <div class="col-md-11">
                        @Html.DropDownListFor(m => m.toloc, new SelectList(Getstateobject, "stcd", "stnm"), "", new { placeholder = "Select To State", @class = "form-control select2 ft required clsChkDuplicateFLT" })
                    </div>
                </div>
            </td>
        }
        else if (Model.FilterMatrixtype == "L")
        {
            <td class="col-md-1">
                <div class="form-group">
                    <div class="col-md-11">
                        @Html.DropDownListFor(m => m.FromLoc, new SelectList(GetLocationDetails, "LocCode", "LocName"), "", new { placeholder = "Select From Location", @class = "form-control select2  required" })
                    </div>
                </div>
            </td>
            <td class="col-md-1">
                <div class="form-group">
                    <div class="col-md-11">
                        @Html.DropDownListFor(m => m.toloc, new SelectList(GetLocationDetails, "LocCode", "LocName"), "", new { placeholder = "Select To Location", @class = "form-control select2  required" })
                    </div>
                </div>
            </td>
        }
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.trdays, new { placeholder = "Enter To Location", @class = "form-control required ToLoc", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Slab1, new { placeholder = "Slab 1", @class = "form-control required", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Slab2, new { placeholder = "Slab 2", @class = "form-control required", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Slab3, new { placeholder = "Slab 3", @class = "form-control required", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Slab4, new { placeholder = "Slab 4", @class = "form-control required", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Slab5, new { placeholder = "Slab 5", @class = "form-control required", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Slab6, new { placeholder = "Slab 6", @class = "form-control required", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
                </div>
            </div>
        </td>
        <td class="col-md-1">
            <div class="form-group">
                <div class="col-md-10">
                    @*@Html.TextBoxFor(m => m.BillingState, new { @class = "required required2 form-control", placeholder = "Customer GST State" })*@
                    @Html.DropDownListFor(CR => CR.BillingState, new SelectList(BlankList, "Value", "Text", Model.BillingState), "", new { placeholder = "Customer GST State.", @class = "form-control select2" })
                </div>
            </div>
        </td>
        <td class="col-md-1 center">
            @if (Model.Id > 1)
            {
                <text><a href="#" style="color: Maroon; font-size: 14px; font-weight: bolder;" id="@Model.Id" class="SlabdeleteRow">X</a></text>
            }
            else
            {
                <a href="#" id="DeleteFirstRow" style="color: Maroon; font-size: 14px; font-weight: bolder;" class="deleteRow"></a>
            }
        </td>
    }
</tr>
