@model GreenLineDataService.Models.CYGNUS_custcontract_servicecharges
@using GreenLineDataService.Models
@{
    GreenLineDataService.Helper.Interface.IMasterService _masterService = new GreenLineDataService.Helper.MasterService();


    var BaseList = new List<SelectListItem> {
        //new SelectListItem { Text = "Min. KG", Value = "W" },
        //new SelectListItem { Text = "Min. Pkgs", Value = "P" },
        //new SelectListItem { Text = "Min. Ton", Value = "T" },
        new SelectListItem { Text = "Min Rs", Value = "F" },
    };
    var BaseListW = new List<SelectListItem> {
        new SelectListItem { Text = "Min. KG", Value = "W" },
        new SelectListItem { Text = "Min. Pkgs", Value = "P" },
    //new SelectListItem { Text = "Min. Ton", Value = "T" },
    //new SelectListItem { Text = "Min Rs", Value = "F" },
    };
    var VolMeasureList = new List<SelectListItem> {
        new SelectListItem { Text = "INCHES", Value = "INCHES" },
        new SelectListItem { Text = "CM", Value = "CM" },
    };
    var ServiceTaxPayList = new List<SelectListItem> {
        new SelectListItem { Text = "Consignor", Value = "CO" },
        new SelectListItem { Text = "Consignee", Value = "CE" },
        new SelectListItem { Text = "Billing Party", Value = "P" },
        new SelectListItem { Text = "Transporter", Value = "T" },
    };
    var RateTypeList = new List<SelectListItem> {
        new SelectListItem { Text = "Flat(in Rs)", Value = "F" },
        new SelectListItem { Text = "Per KG", Value = "W" },
        new SelectListItem { Text = "% of Basic Freight", Value = "%" },
    };
    Model.STaxPaidByEnabled = true;
    //var type = ViewBag.Quatation;
    //var volumetic = ViewBag.Is_Volumetic;
    //int min = 0;
    //if (volumetic == "Y")
    //{
    //    min = 5;
    //}

    if (Model.max_fuelsurchrg == 0m)
    {
        Model.max_fuelsurchrg = 9999;
    }
    if (Model.max_fuelsurchrg_ftl == 0m)
    {
        Model.max_fuelsurchrg_ftl = 9999;
    }

    List<CYGNUS_Master_General> demarrageRate = _masterService.GetMasterGeneralObject("", "SCHG14").Where(c => c.StatusCode == "Y").ToList();
    List<CYGNUS_Master_General> fscRate = _masterService.GetMasterGeneralObject("", "FSC1").Where(c => c.StatusCode == "Y").ToList();
    List<CYGNUS_Master_General> CFTRatio = _masterService.GetMasterGeneralObject("", "CFTRATIO").Where(c => c.StatusCode == "Y").ToList();
    List<CYGNUS_Master_General> MinFrightRate = _masterService.GetMasterGeneralObject("", "MINFREIGHT").Where(c => c.StatusCode == "Y").ToList();
    List<CYGNUS_Master_General> MinChargableRate = _masterService.GetMasterGeneralObject("", "MINCRGW").Where(c => c.StatusCode == "Y").ToList();

}

@*Volumetric Conversion*@
<div class="card-header">
    <h5 class="card-title">
        <i class="ri-settings-3-line align-middle me-1"></i> Volumetric Conversion
    </h5>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="form-label required-field text-muted">Ratio</label>
            <div class="col-12">
                @*@Html.TextBoxFor(m => m.cft_ratio, new { placeholder = "Ratio", @class = "form-control required2  required", @min = min, @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })*@
                @Html.DropDownListFor(m => m.cft_ratio, new SelectList(CFTRatio, "CodeDesc", "CodeDesc"), "", new { @class = "required select2 drpmode form-control select2-dropdown", placeholder = "Select Volumetric" })
                @Html.ValidationMessageFor(model => model.cft_ratio)
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="form-label required-field text-muted">Volumetric Measure</label>
            <div class="col-12">
                @Html.DropDownListFor(m => m.cft_measure, new SelectList(VolMeasureList, "Value", "Text"), "", new { @class = "required select2 drpvol form-control", placeholder = "Select Volumetric Measure" })
                @Html.ValidationMessageFor(model => model.cft_measure)
            </div>
        </div>
    </div>
</div>

@*GST Payer*@
<div class="card-header">
    <h5 class="card-title">
        <i class="ri-settings-3-line align-middle me-1"></i> GST Payer
    </h5>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="form-label text-muted">Active</label>
            <div class="col-12">
                <div class="form-check">
                    @Html.CheckBoxFor(m => m.STaxPaidByEnabled, new { @class = "form-check-input" })
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="form-label required-field text-muted"> Options</label>
            <div class="col-12">
                @Html.TextBoxFor(m => m.stax_paidby_opts, new { placeholder = "Transit Days", @class = "form-control required" })
                @Html.ValidationMessageFor(model => model.stax_paidby_opts)
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="form-label required-field text-muted">Default Selection</label>
            <div class="col-12">
                @Html.DropDownListFor(m => m.stax_paidby, new SelectList(ServiceTaxPayList, "Value", "Text"), "", new { @class = "required select2 form-control", placeholder = "Select Volumetric", @readonly = true })
                @Html.ValidationMessageFor(model => model.stax_paidby)
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <label class="form-label required-field text-muted">GST Paid By</label>
        <div class="col-12">
            @Html.DropDownListFor(m => m.gstpaidby, new SelectList(ServiceTaxPayList, "Value", "Text"), "", new { @class = "required select2 form-control", placeholder = "Select GST Paid By" })
            @Html.ValidationMessageFor(model => model.gstpaidby)
        </div>
    </div>
</div>
@*Fuel Surcharge / PTL*@
<div class="card-header">
    <h5 class="card-title">
        <i class="ri-settings-3-line align-middle me-1"></i> Fuel Surcharge / PTL
    </h5>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="form-label text-muted">Min Charge</label>
            <div class="col-12">
                @Html.TextBoxFor(m => m.min_fuelsurchrg, new { placeholder = "Min Charge", @class = "form-control required min_fuelsurchrg_ptl", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="form-label text-muted">Max Charge</label>
            <div class="col-12">
                @Html.TextBoxFor(m => m.max_fuelsurchrg, new { placeholder = "Minutes", @class = "form-control required max_fuelsurchrg_ptl", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))", @value = "9999", })
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="form-label text-muted"> Charge Rate</label>
            <div class="col-12">
                @Html.DropDownListFor(m => m.fuelsurchrg, new SelectList(fscRate, "CodeDesc", "CodeDesc"), "", new { @class = "select2 drpmode form-control", placeholder = "Select Charge Rate" })
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="form-label text-muted">Rate Type</label>
            <div class="col-12">
                @Html.DropDownListFor(m => m.fuelsurchrgbas, new SelectList(RateTypeList, "Value", "Text"), "", new { @class = "select2 drpvol form-control fuelsurchrgbas_ptl", placeholder = "Select Rate Type" })
            </div>
        </div>
    </div>
</div>

@*Fuel Surcharge / FTL*@
<div class="card-header">
    <h5 class="card-title">
        <i class="ri-settings-3-line align-middle me-1"></i> Fuel Surcharge / FTL
    </h5>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label class="form-label text-muted">Min Charge</label>
            <div class="col-12">
                @Html.TextBoxFor(m => m.min_fuelsurchrg_ftl, new { placeholder = "Min Charge", @class = "form-control required min_fuelsurchrg_ftl", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="form-label text-muted">Max Charge</label>
            <div class="col-12">
                @Html.TextBoxFor(m => m.max_fuelsurchrg_ftl, new { placeholder = "Minutes", @class = "form-control required max_fuelsurchrg_ftl", value = "9999", @onkeypress = "javascript:return validFloat(event,this.getAttribute('id'))" })
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="form-label text-muted"> Charge Rate</label>
            <div class="col-12">
                @Html.DropDownListFor(m => m.fuelsurchrg_ftl, new SelectList(fscRate, "CodeDesc", "CodeDesc"), "", new { @class = "select2 form-control", placeholder = "Select Charge Rate" })
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="form-label text-muted">Rate Type</label>
            <div class="col-12">
                @Html.DropDownListFor(m => m.fuelsurchrgbas_ftl, new SelectList(RateTypeList, "Value", "Text"), "", new { @class = "select2 form-control", placeholder = "Select Rate Type" })
            </div>
        </div>
    </div>
</div>


