@model GreenLineDataService.ViewModel.CustomerContractViewModel
@using GreenLineDataService.Models

@{
    ViewBag.Title = "Customer Contract";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .input-group-text {
        padding: 0 10px;
    }

    .form-control, .select2 {
        height: 40px !important;
    }

    .input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
        border-top-left-radius: 3px !important;
        border-bottom-left-radius: 3px !important;
        height: 40px;
    }

    /* Validation Message and Error Styling */
    .help-block, label.error, span.error, .field-validation-error {
        color: #f06548 !important;
        font-size: 11px !important;
        margin-top: 4px !important;
        display: block !important;
        font-weight: 500 !important;
    }
</style>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-0">
                @ViewBag.Title
            </h4>
        </div>
    </div>
</div>
<!-- end page title -->

@using (Html.BeginForm("GetCustomerContractListJson", "Contract", FormMethod.Post, new { id = "form_sample", @class = "form-modern-ui row-fluid", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header d-flex align-items-center py-3">
                    <h5 class="card-title mb-0 flex-grow-1">
                        <i class="ri-color-filter-line align-middle me-1"></i> Selection Criteria for Customer Contract
                    </h5>
                    <div class="flex-shrink-0 gap-2 resetContract" style="display:none;">
                        <button type="button" class="btn btn-sm btn-label bg-info text-light" id="btnResetContract">
                            <i class="ri-refresh-line label-icon align-middle fs-16 me-2"></i> Refresh
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row g-3">
                        <div class="col-lg-3 col-md-6">
                            <div class="form-group">
                                <label class="form-label required-field">Contract Type</label>
                                <div class="col-12">
                                    @Html.DropDownListFor(m => m.CustomerContract.Contract_Type, new SelectList(ViewBag.ListContractType, "CodeId", "CodeDesc"), new { @class = "select2 required form-control hideBtn", placeholder = "Select Contarct Type", @disabled = "disabled" })
                                    @Html.HiddenFor(m => m.CustomerContract.Contract_Type)
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="form-group">
                                <label class="form-label required-field">Customer</label>
                                <div class="col-12">
                                    @Html.DropDownListFor(m => m.CustomerContract.Custcode, new SelectList(ViewBag.CustomerList, "CUSTCD", "CUSTNM"), "", new
                                    { @class = "select2 form-control hideBtn", placeholder = "Select Customer" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 NorecordFound" style="margin-top: 8px;display:none;">
                            <div class="col-lg-3 col-md-6">
                                <div class="form-group">
                                    <label class="form-label"></label>
                                    <div class="col-12">
                                        <label style="color:red">
                                            No Contarct Found.... You Can Add New Contract
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-3 col-md-6">
                            <button type="button" id="btnSubmit" class="@ViewBag.UI.Buttons.Edit.CssClass btn-label">
                                <i class="ri-file-download-line label-icon align-middle fs-16 me-2"></i>Get List
                            </button>
                            <button type="button" class="@ViewBag.UI.Buttons.Add.CssClass btn-label resetContract" id="btnNewAddcontract" style="display:none;">
                                <i class="@ViewBag.UI.Buttons.Add.Icon label-icon align-middle fs-16 me-2"></i>@ViewBag.UI.Buttons.Add.Label
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row" id="divContractList" style="display:none">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">
                        <i class="ri-file-text-line align-middle me-1"></i> Details Of Customer Contract
                    </h5>
                </div>

                <div class="card-body p-0">
                    <div class="row" style="padding: 15px 0 0 15px;">
                        <label class="text-primary" id="lblname"><b></b></label>
                    </div>
                    <table class="table table-hover table-striped align-middle table-nowrap mb-0" id="jsGrid">
                        <thead class="table-light">
                            <tr>
                                <th class="center">ContractID</th>
                                <th class="center">Start Date</th>
                                <th class="center">End Date</th>
                                <th class="center">Contract Type</th>
                                <th class="center no-cc">Status </th>
                                <th class="center no-cc">Action </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

<div class="modal fade" id="addContractModal" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content border-0 shadow-lg">
            <!-- Header -->
            <div class="modal-header bg-light p-3 border-bottom">
                <h5 class="modal-title fw-bold text-primary" style="color: #405189 !important; font-size: 16px;">
                    <span id="txt_headerLabel">Add New Contract</span>
                </h5>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            @using (Html.BeginForm("AddNewContract", "Contract", FormMethod.Post, new { id = "form_sample1", @class = "form-modern-ui", enctype = "multipart/form-data" }))
            {
                <div class="modal-body p-4">
                    <!-- Section 1: Basic Information -->
                    <div class="section-box mb-3">
                        <h5 class="text-uppercase fw-bold fs-13 mb-3 pb-2 border-bottom border-bottom-dashed text-primary">
                            <i class="ri-information-line align-middle me-1"></i> Basic Information
                        </h5>

                        <div class="row">
                            <div claas="col-md-12">
                                <div class="form-group">
                                    <label class="control-label text-primary" id="custname"></label>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label required-label">Contract Type</label>
                                    <div class="col-12">
                                        @Html.DropDownListFor(m => m.CustomerContract.Contract_Type1, new SelectList(ViewBag.ListContractType, "CodeId", "CodeDesc"), new { @class = "select2 required form-control", placeholder = "Select Contarct Type", @disabled = "disabled" })
                                        @Html.HiddenFor(m => m.CustomerContract.Contract_Type1)
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label required-label">Contract Date</label>
                                    <div class="col-12">
                                        <div class="input-group date" data-date-format="dd M yyyy">
                                            @Html.TextBox("Contract_Stdate",
                                                Model.CustomerContract.Contract_Stdate != null
                                                    ? Convert.ToDateTime(Model.CustomerContract.Contract_Stdate).ToString("dd MMM yyyy")
                                                    : DateTime.Now.ToString("dd MMM yyyy"),
                                                new { @class = "form-control date-picker", @readonly = true })

                                            <span class="input-group-text bg-light border-start-0" style="cursor:pointer;">
                                                <i class="ri-calendar-2-line"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label required-label">Valid Until</label>
                                    <div class="col-12">
                                        <div class="input-group date" data-date-format="dd M yyyy">
                                            @Html.TextBox("Contract_Eddate",
                                                Model.CustomerContract.Contract_Stdate != null
                                                    ? Convert.ToDateTime(Model.CustomerContract.Contract_Eddate).ToString("dd MMM yyyy")
                                                    : DateTime.Now.ToString("dd MMM yyyy"),
                                                new { @class = "form-control validuntil date-picker" })

                                            <span class="input-group-text bg-light border-start-0" style="cursor:pointer;">
                                                <i class="ri-calendar-2-line"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Footer -->
                <div class="modal-footer bg-light p-3 border-top rounded-bottom">
                    <button type="button" class="@ViewBag.UI.Buttons.Cancel.CssClass me-2" data-bs-dismiss="modal">
                        <i class="@ViewBag.UI.Buttons.Cancel.Icon align-middle me-1"></i>@ViewBag.UI.Buttons.Cancel.Label
                    </button>
                    <button type="button" class="@ViewBag.UI.Buttons.Submit.CssClass" id="btnaddcontract">
                        <i class="@ViewBag.UI.Buttons.Submit.Icon"></i>@ViewBag.UI.Buttons.Submit.Label
                    </button>
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    var FormComponents = function (DomainName) {

        var commonFormValidate = function (formSelector, rules) {
            var form = $(formSelector);
            form.validate({
                doNotHideMessage: true,
                onfocusout: false,
                onkeyup: false,
                onclick: false,
                errorElement: 'span',
                errorClass: 'help-block',
                focusInvalid: false,
                ignore: ":hidden:not(.select2-hidden-accessible)",
                rules: rules,
                messages: {
                },
                errorPlacement: function (error, element) {
                    if (element.parent(".input-group").length > 0) {
                        error.insertAfter(element.parent(".input-group"));
                    } else if (element.hasClass("select2-hidden-accessible") || element.next(".select2-container").length > 0) {
                        error.insertAfter(element.next(".select2-container"));
                    } else {
                        error.insertAfter(element);
                    }
                },
                highlight: function (element) {
                    $(element).closest('.form-group').addClass('has-error');
                },
                unhighlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-error');
                },
                success: function (label) {
                    label.closest('.form-group').removeClass('has-error');
                }
            });
        }

        var loadContractData = function (DomainName, TableName) {
            $(".resetContract").show();
            App.blockUI({ boxed: true });
            var postData = $('#form_sample').serialize();
            $.ajax({
                url: DomainName + "/Contract/GetCustomerContractListJson", // new JSON endpoint (see Controller sample)
                type: 'POST',
                dataType: "json",
                data: postData,
                success: function (data) {
                    var tableData = data;
                    if (typeof data === 'object' && !Array.isArray(data)) {
                        var tableNames = Object.keys(data);
                        for (var i = 0; i < tableNames.length; i++) {
                            if (Array.isArray(data[tableNames[i]])) {
                                tableData = data[tableNames[i]];
                                break;
                            }
                        }
                    }

                    GlDataTable.refresh(TableName, {
                        data: tableData,
                        statusFilter: 4,
                        columns: [
                            { data: "ContractID"},
                            { data: "StartDate" },
                            { data: "EndDate" },
                            { data: "ContractType" },
                            { data: "IsActive", columnControl: false },
                        ],
                        columnDefs: [
                             {
                                 targets: [0],
                                 render: function (data, type, full) {
                                     // If server returned HTML in EditHtml, use it; otherwise render a default edit button
                                     var url = '@Url.Action("UpdateContract", "contract")'
                                         + '?CustCode=' + full.CustCode
                                         + '&ContId=' + full.ContractID
                                             + '&ContType=' + full.ContractType
                                             + '&Mode=View';
                                     return '<a href="javascript:void(0);" data-url="' + url + '"class="btnContractView">' + full.ContractID + '</a>';
                                 }
                             },
                            {
                                targets: [4],
                                render: function (data, type, full, meta) {
                                    var isActive = data == "Y" ? "checked" : "";
                                    return '<label class="switch"><input type="checkbox" ' + isActive + ' class="btnToggleContractStatus" data-id="' + full.Id + '" data-name="' + full.ContractID + '"><span class="slider round"></span></label>';
                                }
                            },
                            {
                                targets: [5],
                                render: function (data, type, full) {
                                    // If server returned HTML in EditHtml, use it; otherwise render a default edit button
                                    var url = '@Url.Action("UpdateContract", "contract")'
                                        + '?CustCode=' + full.CustCode
                                        + '&ContId=' + full.ContractID
                                        + '&ContType=' + full.ContractType
                                        + '&Mode=Edit';
                                   return '<a href="javascript:void(0);" data-url="' + url + '" class="btnContractEdit @ViewBag.UI.Buttons.Edit.CssClass"><i class="@ViewBag.UI.Buttons.Edit.Icon"></i></a>';
                                }
                            },
                            { orderable: false, targets: [4,5] }
                        ],
                        createdRow: function (row, data) {
                            $(row).find('td').addClass('text-center');
                        }
                    });

                    $('#divContractList').show();
                    App.unblockUI();
                },
                error: function () {
                    TosterNotification("error", 'Failed to load contract data', "Error");
                    App.unblockUI();
                }
            });
        }

        var Events = function (DomainName) {

            $("#btnaddcontract").click(function (e) {
                e.preventDefault();

                if (!$('#form_sample1').valid()) return;

                var PaymentBasis = $("#CustomerContract_Contract_Type1").val();
                var CustCode = $("#CustomerContract_Custcode").val();
                var StartDate = $("#Contract_Stdate").val();
                var EndDate = $("#Contract_Eddate").val();

                App.blockUI({ boxed: true });
                var strurl = DomainName + '/Contract/AddContarct?PaymentBasis=' + PaymentBasis + '&StartDate=' + StartDate + '&EndDate=' + EndDate + '&CustCode=' + CustCode ;
                $.ajax({
                    url: strurl,
                    cache: false,
                    data: {},
                    type: 'POST',
                    success: function (data) {
                        if (data.Status) {
                            TosterNotification("success", data.Message, "success");
                            $("#addContractModal").modal("hide");
                            loadContractData(DomainName, "jsGrid");
                            //formReset();
                        } else {
                            TosterNotification("error", data.Message, "error");
                        }
                        App.unblockUI();
                    },
                    error: function (req, status, error) {
                        TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                        App.unblockUI();
                    }
                });
            });

            $('#btnSubmit').click(function (e) {
                e.preventDefault();

                //$('#form_sample').find('select').trigger('change');

                if (!$('#form_sample').valid()) return;

                App.blockUI({ boxed: true });

                loadContractData(DomainName, "jsGrid");
                $(".NorecordFound").hide();
                $("#divContractList").show();
                $("#addcontract").show();

                var CustCode = $("#CustomerContract_Custcode").val();

                var strurl = DomainName + '/Contract/GetCustomerName?custcode=' + CustCode;
                $.ajax({
                    url: strurl,
                    cache: false,
                    data: {},
                    type: 'POST',
                    success: function (data) {
                        $("#lblname").html(data);
                        App.unblockUI();
                    },
                });
            });

            $('#btnResetContract').on("click", function () {
                formReset();
            })

            $(document).on("change", ".btnToggleContractStatus", function () {
                var checkbox = $(this);
                var id = checkbox.data("id");
                var name = checkbox.data("name");
                var isChecked = checkbox.is(':checked');
                var action = isChecked ? "Activate" : "Inactivate";
                // revert until confirmed
                checkbox.prop('checked', !isChecked);

                showConfirm({
                    title: action + " Contract",
                    message: 'Are you sure to <strong>' + action.toLowerCase() + '</strong> contract <strong style="color:#405189">"' + name + '"</strong>?',
                    type: isChecked ? 'success' : 'info',
                    confirmText: "Yes",
                    cancelText: "No",
                    onConfirm: function () {
                        App.blockUI({ boxed: true });
                        $.post(DomainName + '/Contract/ContractActiveInActive', { SrNo: id }, function (res) {
                            App.unblockUI();
                            if (res.Status) {
                                GLModal.showSuccess("Contract status updated!");
                                loadContractData(DomainName, "jsGrid");
                            } else {
                                GLModal.showError("Failed to update status.");
                            }
                        });
                    }
                });
            });

            $(document).on("click", ".btnContractEdit, .btnContractView", function (e) {
                e.preventDefault();
                var url = $(this).data("url");
                App.blockUI({ boxed: true });
                window.location.href = url;
            });

            var formReset = function () {
                var form = $('#form_sample');
                form[0].reset();
                form.validate().resetForm();
                form.find('.is-invalid').removeClass('is-invalid');
                form.find('.form-group').removeClass('has-error');
                form.find('.help-block').remove();

                // Clear only enabled Select2 dropdowns visually and trigger change (leaving disabled Contract Type untouched)
                form.find('select.select2:not([disabled])').val(null).trigger('change');

                // Hide table, reset button, and no-record warning with smooth transitions
                $("#divContractList").hide(500);
                $(".resetContract").hide(500);
                $(".NorecordFound").hide(500);
            }

        }

        return {
            init: function (DomainName) {

                $.validator.addMethod("greaterThanDate", function (value, element, params) {
                    if (!value) return true;
                    var targetValue = $(params).val();
                    if (!targetValue) return true;

                    var start = new Date(targetValue);
                    var end = new Date(value);

                    if (isNaN(start.getTime()) || isNaN(end.getTime())) {
                        return true;
                    }
                    return end >= start;
                }, "Valid Until date must be greater than or equal to Contract Date");

                commonFormValidate('#form_sample', {
                    "CustomerContract.Custcode": { required: true }
                });
                commonFormValidate('#form_sample1', {
                    "Contract_Stdate": { required: true },
                    "Contract_Eddate": {
                        required: true,
                        greaterThanDate: "#Contract_Stdate"
                    }
                });
                Events(DomainName);

                $('.select2').on('change', function () {
                    $(this).valid();
                });

                $('.hideBtn').on('change', function () {
                    $(".resetContract").hide();
                    $("#divContractList").hide();
                })

                $("#btnNewAddcontract").on('click', function () {
                    var validator = $('#form_sample1').validate();

                    // Reset everything
                    validator.resetForm();

                    // Remove error classes
                    $('#form_sample1').find('.form-group').removeClass('has-error');
                    $('#form_sample1').find('.help-block').remove();

                    // IMPORTANT: Remove previous invalid state
                    $('#form_sample1').find(':input').removeClass('error valid');

                    var strurl = DomainName + '/Contract/GetCustomerName?custcode=' + $("#form_sample #CustomerContract_Custcode").val();
                    $.ajax({
                        url: strurl,
                        cache: false,
                        data: {},
                        type: 'POST',
                        success: function (data) {
                            $("#custname").html(data);
                            $(".resetContract").show();
                            App.unblockUI();
                        },
                        error: function (req, status, error) {
                            TosterNotification("error", "Error !! There was an error druing process. Please check your internet connection or contact administrator.", "Error");
                            App.unblockUI();
                        }
                    });

                    $("#addContractModal").modal("show");
                });

                $('.date-picker').datepicker({
                    isRTL: App.isRTL(),
                    format: "dd M yyyy",
                    autoclose: true,
                    pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                    startDate: new Date('@DateTime.Now.ToString("yyyy-MM-dd")'),
                    todayBtn: true
                });

                $("#Contract_Stdate").on("change", function () {
                    destroyDatetimePicker("validuntil");
                    var startDate = $(this).val();
                    // Enable the field first
                    $('.validuntil').prop('disabled', false);
                    $('.validuntil').datepicker({
                        isRTL: App.isRTL(),
                        format: "dd M yyyy",
                        autoclose: true,
                        pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
                        startDate: new Date(startDate),
                        todayBtn: true
                    });
                    $('.validuntil').datepicker('setDate', new Date(startDate));
                    $('.validuntil').valid();
                });

                var destroyDatetimePicker = function (id) {
                    if (jQuery().datepicker) {
                        // Unbind the datepicker event handlers
                        $('.' + id).datepicker("destroy");
                        // Remove datepicker classes and data attributes
                        $('.' + id).removeClass("hasDatepicker");
                        $('.' + id).removeData("datepicker");
                    }
                }

                $('#addContractModal').on('hidden.bs.modal', function () {

                    var form = $('#form_sample1');

                    // Reset form values
                    form[0].reset();

                    // Reset validation messages
                    form.validate().resetForm();

                    // Remove error classes properly
                    form.find('.form-group').removeClass('has-error');
                    form.find('.help-block').remove();

                    // Reset only enabled select2
                    form.find('select.select2:not([disabled])').val(null).trigger('change');
                });

                // Optional (main form refresh)
                $('#form_sample .select2').on('change', function () {
                    $(this).valid();
                });
            }
        }
    }();
</script>
