@model GreenLineDataService.Models.Cygnus_Consignee_Master
@using GreenLineDataService.Models;
@{
    List<SelectListItem> BlankList = new List<SelectListItem>();
    GreenLineDataService.Helper.Interface.IMasterService _masterService = new GreenLineDataService.Helper.MasterService();
    var type = "Add"; var btn = "Save";
    if (Model.Id > 0)
    {
        type = "Edit";
        btn = "Update";
    }
    //List<CYGNUS_LaneMaster> ListLane = _masterService.GetLaneDetails().ToList();
    List<CYGNUS_pincode_master> pincodeList = _masterService.GetPincodeMaster().ToList();
    List<CYGNUX_Master_Countries> CountryList = _masterService.GetCountryMaster().ToList();

    List<CYGNUS_State> Liststate = _masterService.GetStateMaster().Where(c => c.activeflag == "Y").ToList();
    List<CYGNUS_citymaster> cityList = _masterService.GetCityMaster();
    cityList = cityList.Where(c => c.activeflag == "Y").OrderBy(c => c.Location).ToList();
}

@using (Html.BeginForm("AddEditConsigneeMaster", "Master", FormMethod.Post, new { id = "form_consignee_modal", @class = "form-modern-ui", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Latitude)
    @Html.HiddenFor(m => m.Longitude)
    @Html.HiddenFor(m => m.GeoFenceLatitude)
    @Html.HiddenFor(m => m.GeoFenceLongitude)
    @Html.HiddenFor(m => m.Radius)
    @Html.HiddenFor(m => m.Consignee_Code)

    <div class="card mb-0 border-0 shadow-none" style="background: transparent;">
        <div class="card-body p-0">
            <div class="row g-4">
                <!-- Left Side: Fields -->
                <div class="col-xl-7 col-lg-12" id="fieldsContainer">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label required-label">GST No</label>
                                @Html.TextBoxFor(m => m.Consignee_GST, new { @class = "form-control required", @placeholder = "Enter Consignee GST" })
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label required-label">PAN No</label>
                                @Html.TextBoxFor(m => m.Consignee_PANNo, new { @class = "form-control required", @placeholder = "Enter Consignee PANNo" })
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label required-label">Consignee Name</label>
                                @Html.TextBoxFor(m => m.Consignee_Name, new { @class = "form-control required", @placeholder = "Enter Consignee Name" })
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label required-label">Address</label>
                                @Html.TextAreaFor(m => m.Consignee_Address, new { @class = "form-control required", @placeholder = "Enter Consignee Address", @rows = "1" })
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label required-label">Pincode</label>
                                @Html.DropDownListFor(m => m.Consignee_Pincode, new SelectList(pincodeList, "pincode", "pincode", Model.Consignee_Pincode), "", new { @class = "form-control select2 required", @placeholder = "Select Consignee Pincode" })
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label required-label">Country</label>
                                @Html.DropDownListFor(m => m.Consignee_Country, new SelectList(CountryList, "Id", "CountryName", Model.Consignee_Country), "", new { @class = "form-control select2 required", @placeholder = "Select Consignee Country" })
                                @Html.HiddenFor(m => m.Consignee_Country)
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label required-label">State</label>
                                @Html.DropDownListFor(m => m.Consignee_State, new SelectList(Liststate, "stcd", "stnm", Model.Consignee_State), "", new { @class = "form-control select2 required", @placeholder = "Select Consignee State" })
                                @Html.HiddenFor(m => m.Consignee_State)
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label required-label">City</label>
                                @Html.DropDownListFor(m => m.Consignee_City, new SelectList(cityList, "city_code", "Location", Model.Consignee_City), "", new { @class = "form-control select2 required", @placeholder = "Select Consignee City" })
                                @Html.HiddenFor(m => m.Consignee_City)
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label required-label">Unloading Location</label>
                                @Html.TextBoxFor(m => m.Consignee_Location, new { @class = "form-control required", @placeholder = "Enter Consignee Location", @rows = "1" })
                            </div>
                        </div>

                        @*<div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label required-label">Lane</label>
                                @Html.DropDownListFor(c => c.Consignee_Lane, new SelectList(ListLane, "Lane_ID", "Lane_Name", Model.Consignee_Lane), "", new { @class = "form-control select2 required", @placeholder = "Select Consignee Lane" })
                            </div>
                        </div>*@
                    </div>
                </div>

                <!-- Right Side: Map -->
                <div class="col-xl-5 col-lg-12 mt-3 mt-xl-0" id="mapContainer">
                    <div class="card mb-0 flex-grow-1 d-flex flex-column border-0 shadow-none" style="background: transparent;">
                        <div class="card-body p-0 flex-grow-1 mt-2" style="height: 480px; border-radius: 8px; overflow: hidden; border: 1px solid #e9ebec;">
                            <div id="googleMap" style="height: 480px; width: 100%;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<script type="text/javascript">
    var initConsigneeMaster = function (DomainName, isPartial) {
        var formId = 'form_consignee_modal';
        var form = $('#' + formId);
        var saveBtnId = isPartial ? "#glFormSaveBtn" : "#btnSave";

        var Formvalidate = function () {
            var form1 = form;
            var error1 = $('.alert-danger', form1);
            var success1 = $('.alert-success', form1);
            form1.validate({
                doNotHideMessage: true,
                errorElement: 'span',
                errorClass: 'help-block',
                focusInvalid: false,
                rules: {},
                messages: {},
                errorPlacement: function (error, element) {
                    error.insertAfter(element);
                },
                invalidHandler: function (event, validator) {
                    success1.hide();
                    error1.show();
                },
                highlight: function (element) {
                    $(element).closest('.form-group').addClass('has-error');
                },
                unhighlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-error');
                },
                success: function (label) {
                    label.closest('.form-group').removeClass('has-error');
                },
                submitHandler: function (form) {
                    success1.show();
                    error1.hide();
                }
            });
        };

        var map;
        var directionsService;
        var directionsRenderer;
        var geocoder;
        var pinpointMarker = null;
        var polygon = null;
        var circle = null;
        var drawingManager = null;
        var autocomplete = null;

        function loadmapOnCreate() {
            var defaultLat = 20.593684;
            var defaultLong = 78.96288;

            var myCenter = new google.maps.LatLng(defaultLat, defaultLong);
            var mapProp = {
                center: myCenter,
                zoom: 5
            };

            var mapDiv = form.find("#googleMap")[0] || document.getElementById("googleMap");
            if (!mapDiv) return;

            map = new google.maps.Map(mapDiv, mapProp);
            directionsService = new google.maps.DirectionsService();
            directionsRenderer = new google.maps.DirectionsRenderer({
                map: map
            });
            geocoder = new google.maps.Geocoder();

            // Resize map trigger function to prevent map collapsing on hidden/fade-in containers
            function triggerMapResize() {
                if (map) {
                    google.maps.event.trigger(map, 'resize');
                    var latVal = form.find("#Latitude").val();
                    var lngVal = form.find("#Longitude").val();
                    if (latVal && lngVal && !isNaN(parseFloat(latVal)) && !isNaN(parseFloat(lngVal))) {
                        var markerLatLng = new google.maps.LatLng(parseFloat(latVal), parseFloat(lngVal));
                        map.setCenter(markerLatLng);
                    } else {
                        map.setCenter(myCenter);
                    }
                }
            }

            // 1. Trigger resize when the modal has finished fading in (.off ensures no duplicate bindings on re-open)
            $('#glFormModal').off('shown.bs.modal.consigneeMap').on('shown.bs.modal.consigneeMap', function () {
                triggerMapResize();
            });

            // 2. Trigger deferred resizes to handle fast AJAX rendering and Bootstrap transition timing
            setTimeout(triggerMapResize, 500);
            setTimeout(triggerMapResize, 1200);

            var latVal = form.find("#Latitude").val();
            var lngVal = form.find("#Longitude").val();
            if (latVal && lngVal && !isNaN(parseFloat(latVal)) && !isNaN(parseFloat(lngVal))) {
                var markerLatLng = new google.maps.LatLng(parseFloat(latVal), parseFloat(lngVal));
                pinpointMarker = new google.maps.Marker({
                    position: markerLatLng,
                    draggable: false,
                    map: map
                });
                map.setCenter(markerLatLng);
                map.setZoom(15);
            }

            drawingManager = new google.maps.drawing.DrawingManager({
                drawingMode: null,
                drawingControl: true,
                drawingControlOptions: {
                    position: google.maps.ControlPosition.TOP_CENTER,
                    drawingModes: ['circle','polygon']
                },
                polygonOptions: {
                    editable: true,
                    draggable: true,
                    fillColor: '#FF0000',
                    fillOpacity: 0.3,
                    strokeColor: '#FF0000',
                    strokeOpacity: 0.8,
                    strokeWeight: 2
                },
                circleOptions: {
                    editable: true,
                    draggable: true,
                    fillColor: '#FF0000',
                    fillOpacity: 0.3,
                    strokeColor: '#FF0000',
                    strokeOpacity: 0.8,
                    strokeWeight: 2
                }
            });
            drawingManager.setMap(map);

            google.maps.event.addListener(drawingManager, 'polygoncomplete', function (newPolygon) {
                clearExistingGeofence();
                polygon = newPolygon;
                form.find("#Radius").val('');
                attachPolygonListeners(polygon);
                updatePolygonData();
                drawingManager.setDrawingMode(null);
                drawingManager.setOptions({ drawingControl: false });
            });

            google.maps.event.addListener(drawingManager, 'circlecomplete', function (newCircle) {
                clearExistingGeofence();
                circle = newCircle;
                attachCircleListeners(circle);
                enforceCircleRules(circle);
                updateCircleData();
                drawingManager.setDrawingMode(null);
                drawingManager.setOptions({ drawingControl: false });
            });

            var geoLatVal = form.find("#GeoFenceLatitude").val();
            var geoLngVal = form.find("#GeoFenceLongitude").val();
            var radiusVal = form.find("#Radius").val();

            if (geoLatVal && geoLngVal) {
                if (geoLatVal.indexOf(',') > -1) {
                    var coordinates = parseCoordinates(geoLatVal, geoLngVal);
                    polygon = new google.maps.Polygon({
                        paths: coordinates,
                        editable: true,
                        draggable: true,
                        fillColor: '#FF0000',
                        fillOpacity: 0.3,
                        strokeColor: '#FF0000',
                        strokeOpacity: 0.8,
                        strokeWeight: 2,
                        map: map
                    });
                    attachPolygonListeners(polygon);
                    drawingManager.setOptions({ drawingControl: false });
                } else {
                    var radiusFloat = parseFloat(radiusVal);
                    if (!isNaN(radiusFloat) && radiusFloat > 0) {
                        circle = new google.maps.Circle({
                            strokeColor: '#FF0000',
                            strokeOpacity: 0.8,
                            strokeWeight: 2,
                            fillColor: '#FF0000',
                            fillOpacity: 0.3,
                            map: map,
                            center: new google.maps.LatLng(parseFloat(geoLatVal), parseFloat(geoLngVal)),
                            radius: radiusFloat,
                            editable: true,
                            draggable: true
                        });
                        attachCircleListeners(circle);
                        drawingManager.setOptions({ drawingControl: false });
                    }
                }
            }

            createRemoveGeofenceControl();
        }

        function parseCoordinates(latitudeString, longitudeString) {
            var latitudes = latitudeString.split(',');
            var longitudes = longitudeString.split(',');
            var coordinates = [];
            for (var i = 0; i < latitudes.length; i++) {
                coordinates.push(new google.maps.LatLng(parseFloat(latitudes[i]), parseFloat(longitudes[i])));
            }
            return coordinates;
        }

        function attachPolygonListeners(poly) {
            var path = poly.getPath();
            google.maps.event.addListener(path, 'set_at', function() { updatePolygonData(); });
            google.maps.event.addListener(path, 'insert_at', function() { updatePolygonData(); });
            google.maps.event.addListener(path, 'remove_at', function() { updatePolygonData(); });
            google.maps.event.addListener(poly, 'dragend', function() { updatePolygonData(); });
        }

        var lastToastTime = 0;
        function showGeofenceToast(type, message, title, force) {
            var now = Date.now();
            if (force || (now - lastToastTime > 2000)) {
                if (window.toastr) {
                    toastr.clear();
                }
                TosterNotification(type, message, title);
                lastToastTime = now;
            }
        }

        var isCorrectingCircle = false;
        function enforceCircleRules(circ) {
            if (!circ || isCorrectingCircle) return;

            var latVal = form.find("#Latitude").val();
            var lngVal = form.find("#Longitude").val();
            if (!latVal || !lngVal) {
                return;
            }

            var pLat = parseFloat(latVal);
            var pLng = parseFloat(lngVal);
            if (isNaN(pLat) || isNaN(pLng)) {
                return;
            }

            var center = circ.getCenter();
            var radius = circ.getRadius();
            var pinpoint = new google.maps.LatLng(pLat, pLng);

            var distance = 0;
            if (google.maps.geometry && google.maps.geometry.spherical) {
                distance = google.maps.geometry.spherical.computeDistanceBetween(center, pinpoint);
            } else {
                var R = 6371000;
                var dLat = (pLat - center.lat()) * Math.PI / 180;
                var dLon = (pLng - center.lng()) * Math.PI / 180;
                var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
                        Math.cos(center.lat() * Math.PI / 180) * Math.cos(pLat * Math.PI / 180) *
                        Math.sin(dLon / 2) * Math.sin(dLon / 2);
                var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
                distance = R * c;
            }

            var isOutside = (distance > radius);
            var exceedsLimit = (radius > 5000);

            if (isOutside || exceedsLimit) {
                isCorrectingCircle = true;
                circ.setCenter(pinpoint);
                circ.setRadius(5000);
                isCorrectingCircle = false;

                showGeofenceToast("error", "Circle geofence has been reset to 5 km centered on the pinpoint location.", "Validation Warning", false);

                form.find("#GeoFenceLatitude").val(pLat);
                form.find("#GeoFenceLongitude").val(pLng);
                form.find("#Radius").val("5000.00");

                checkAndClearGeofenceError();
            }
        }

        function attachCircleListeners(circ) {
            google.maps.event.addListener(circ, 'radius_changed', function() {
                if (isCorrectingCircle) return;
                enforceCircleRules(circ);
                updateCircleData();
            });
            google.maps.event.addListener(circ, 'center_changed', function() {
                if (isCorrectingCircle) return;
                enforceCircleRules(circ);
                updateCircleData();
            });
            google.maps.event.addListener(circ, 'dragend', function() {
                if (isCorrectingCircle) return;
                enforceCircleRules(circ);
                updateCircleData();
            });
        }

        function updatePolygonData() {
            if (!polygon) return;
            var path = polygon.getPath();
            var latitudes = [];
            var longitudes = [];
            path.forEach(function (vertex) {
                latitudes.push(vertex.lat());
                longitudes.push(vertex.lng());
            });
            form.find("#GeoFenceLatitude").val(latitudes.join(','));
            form.find("#GeoFenceLongitude").val(longitudes.join(','));
            form.find("#Radius").val('');
            checkAndClearGeofenceError();
        }

        function updateCircleData() {
            if (!circle) return;
            var center = circle.getCenter();
            var radius = circle.getRadius();
            form.find("#GeoFenceLatitude").val(center.lat());
            form.find("#GeoFenceLongitude").val(center.lng());
            form.find("#Radius").val(radius.toFixed(2));
            checkAndClearGeofenceError();
        }

        function clearExistingGeofence() {
            if (polygon) {
                polygon.setMap(null);
                polygon = null;
            }
            if (circle) {
                circle.setMap(null);
                circle = null;
            }
        }

        function createRemoveGeofenceControl() {
            var controlDiv = document.createElement('div');
            var controlUI = document.createElement('div');
            controlUI.style.backgroundColor = '#fff';
            controlUI.style.border = '1px solid #ccc';
            controlUI.style.borderRadius = '3px';
            controlUI.style.boxShadow = '0 2px 6px rgba(0,0,0,.3)';
            controlUI.style.cursor = 'pointer';
            controlUI.style.marginTop = '10px';
            controlUI.style.marginRight = '10px';
            controlUI.style.padding = '8px 12px';
            controlUI.title = 'Click to remove geofence';
            controlDiv.appendChild(controlUI);

            var controlText = document.createElement('div');
            controlText.style.color = '#333';
            controlText.style.fontFamily = 'Roboto,Arial,sans-serif';
            controlText.style.fontSize = '12px';
            controlText.style.fontWeight = 'bold';
            controlText.innerHTML = 'Remove Geofence';
            controlUI.appendChild(controlText);

            controlUI.addEventListener('click', function () {
                clearExistingGeofence();
                form.find("#GeoFenceLatitude").val('');
                form.find("#GeoFenceLongitude").val('');
                form.find("#Radius").val('');
                if (drawingManager) {
                    drawingManager.setOptions({ drawingControl: true });
                }
                checkAndClearGeofenceError();
            });

            map.controls[google.maps.ControlPosition.TOP_RIGHT].push(controlDiv);
        }

        function isCoordinateInsideGeofence(latVal, lngVal, geoLatVal, geoLngVal, radiusVal) {
            if (typeof google === 'undefined' || typeof google.maps === 'undefined') {
                return true;
            }
            if (!latVal || !lngVal || !geoLatVal || !geoLngVal) {
                return true;
            }
            var pLat = parseFloat(latVal);
            var pLng = parseFloat(lngVal);
            if (isNaN(pLat) || isNaN(pLng)) {
                return true;
            }

            var pinpoint = new google.maps.LatLng(pLat, pLng);
            var isInside = true;

            if (geoLatVal.indexOf(',') > -1) {
                var lats = geoLatVal.split(',');
                var lngs = geoLngVal.split(',');
                var coords = [];
                for (var i = 0; i < lats.length; i++) {
                    var flat = parseFloat(lats[i]);
                    var flng = parseFloat(lngs[i]);
                    if (!isNaN(flat) && !isNaN(flng)) {
                        coords.push(new google.maps.LatLng(flat, flng));
                    }
                }

                if (coords.length > 0) {
                    var poly = new google.maps.Polygon({ paths: coords });
                    if (google.maps.geometry && google.maps.geometry.poly) {
                        isInside = google.maps.geometry.poly.containsLocation(pinpoint, poly);
                    } else {
                        var x = pLng, y = pLat;
                        isInside = false;
                        for (var i = 0, j = coords.length - 1; i < coords.length; j = i++) {
                            var xi = coords[i].lng(), yi = coords[i].lat();
                            var xj = coords[j].lng(), yj = coords[j].lat();
                            var intersect = ((yi > y) !== (yj > y))
                                && (x < (xj - xi) * (y - yi) / (yj - yi) + xi);
                            if (intersect) isInside = !isInside;
                        }
                    }
                }
            } else {
                var cLat = parseFloat(geoLatVal);
                var cLng = parseFloat(geoLngVal);
                var radius = parseFloat(radiusVal);

                if (!isNaN(cLat) && !isNaN(cLng) && !isNaN(radius)) {
                    var center = new google.maps.LatLng(cLat, cLng);
                    var distance = 0;
                    if (google.maps.geometry && google.maps.geometry.spherical) {
                        distance = google.maps.geometry.spherical.computeDistanceBetween(center, pinpoint);
                    } else {
                        var R = 6371000;
                        var dLat = (pLat - cLat) * Math.PI / 180;
                        var dLon = (pLng - cLng) * Math.PI / 180;
                        var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
                                Math.cos(cLat * Math.PI / 180) * Math.cos(pLat * Math.PI / 180) *
                                Math.sin(dLon / 2) * Math.sin(dLon / 2);
                        var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
                        distance = R * c;
                    }
                    isInside = (distance <= radius);
                }
            }

            return isInside;
        }

        function checkAndClearGeofenceError() {
            var latVal = form.find("#Latitude").val();
            var lngVal = form.find("#Longitude").val();
            var geoLatVal = form.find("#GeoFenceLatitude").val();
            var geoLngVal = form.find("#GeoFenceLongitude").val();
            var radiusVal = form.find("#Radius").val();

            if (!geoLatVal || !geoLngVal || isCoordinateInsideGeofence(latVal, lngVal, geoLatVal, geoLngVal, radiusVal)) {
                form.find("#Consignee_Location").closest('.form-group').removeClass('has-error');
                form.find("#Consignee_Location").nextAll('.validation-error-msg').remove();
                form.find("#googleMap").parent().css("border", "1px solid #e9ebec");
            }
        }

        function checkDuplicateGST(gstVal, callback) {
            if (!gstVal) {
                form.find("#Consignee_GST").removeClass('is-invalid').closest('.form-group').removeClass('has-error');
                form.find("#Consignee_GST").nextAll('.validation-error-msg').remove();
                if (callback) callback(false);
                return;
            }
            var excludeId = form.find("#Id").val() || 0;
            var excludeCode = form.find("#Consignee_Code").val() || "";
            $.ajax({
                url: DomainName + '/Master/CheckDuplicateGST',
                type: 'POST',
                data: { GSTNo: gstVal, ExcludeId: excludeId, ExcludeCode: excludeCode },
                success: function (response) {
                    if (response.isDuplicate) {
                        if (window.toastr) {
                            toastr.clear();
                        }
                        TosterNotification("error", 'Consignee GST No. <b>"' + gstVal + '"</b> already exists!!!', "Duplicate GST Error");
                        form.find("#Consignee_GST").addClass('is-invalid').closest('.form-group').addClass('has-error');
                        form.find("#Consignee_GST").nextAll('.validation-error-msg').remove();
                        form.find("#Consignee_GST").after('<span class="validation-error-msg text-danger small mt-1 d-block">Consignee GST No. already exists!</span>');

                        if (callback) callback(true);
                    } else {
                        form.find("#Consignee_GST").removeClass('is-invalid').closest('.form-group').removeClass('has-error');
                        form.find("#Consignee_GST").nextAll('.validation-error-msg').remove();
                        if (callback) callback(false);
                    }
                },
                error: function () {
                    if (callback) callback(false);
                }
            });
        }

        // Initialize Form validate
        Formvalidate();
        $('#Consignee_State').prop('disabled', true).addClass('disabled-field');
        $('#Consignee_City').prop('disabled', true).addClass('disabled-field');
        $('#Consignee_Country').prop('disabled', true).addClass('disabled-field');
        // Select2 v3.x initialization (dropdownParent is NOT supported in v3 — z-index is handled via CSS .select2-drop override)
        // Guard: retry if Select2 JS hasn't finished loading yet (can happen on live under load)
        function initSelect2Fields() {
            if (typeof $.fn.select2 === 'undefined') {
                // Select2 not available yet — retry after 100ms (max 30 attempts = 3s)
                if ((initSelect2Fields._attempts = (initSelect2Fields._attempts || 0) + 1) <= 30) {
                    setTimeout(initSelect2Fields, 100);
                }
                return;
            }
            $('#form_consignee_modal .select2').each(function() {
                var $el = $(this);
                // Destroy any previous instance first to avoid duplicate widgets on re-open
                if ($el.data('select2')) {
                    $el.select2('destroy');
                }
                $el.select2({
                    placeholder: "Select an Option",
                    allowClear: true,
                    width: '100%'
                });
            });
        }
        initSelect2Fields();

        // Deferred Map Initialization helper
        var initMapIfGoogleLoaded = function() {
            if (typeof google !== 'undefined' && typeof google.maps !== 'undefined') {
                loadmapOnCreate();

                // Autocomplete
                var dropLocationInput = form.find('#Consignee_Location')[0] || document.getElementById('Consignee_Location');
                if (dropLocationInput) {
                    autocomplete = new google.maps.places.Autocomplete(dropLocationInput);
                    autocomplete.addListener('place_changed', function () {
                        var place = autocomplete.getPlace();
                        if (!place.geometry || !place.geometry.location) {
                            form.find("#Unloading_Lat").val('');
                            form.find("#Unloading_Long").val('');
                            return;
                        }

                        var lat = place.geometry.location.lat();
                        var lng = place.geometry.location.lng();

                        form.find("#Latitude").val(lat);
                        form.find("#Longitude").val(lng);
                        form.find("#Unloading_Lat").val(lat);
                        form.find("#Unloading_Long").val(lng);

                        if (pinpointMarker) {
                            pinpointMarker.setPosition(place.geometry.location);
                        } else {
                            pinpointMarker = new google.maps.Marker({
                                position: place.geometry.location,
                                draggable: false,
                                map: map
                            });
                        }

                        map.setCenter(place.geometry.location);
                        map.setZoom(18);

                        if (circle) {
                            enforceCircleRules(circle);
                        }

                        checkAndClearGeofenceError();
                    });

                    form.find('#Consignee_Location').on('keydown', function (e) {
                        if (e.keyCode === 13) {
                            e.preventDefault();
                            return false;
                        }
                    });
                    form.find('#Consignee_Location').on('change', function () {
                        if (!$(this).val()) {
                            form.find("#Unloading_Lat").val('');
                            form.find("#Unloading_Long").val('');
                        }
                    });
                }
            }
        };

        // Expose to window so maps load callback can invoke it
        window.triggerConsigneeMapInit = initMapIfGoogleLoaded;

        // Try invoking it immediately (in case google is already loaded)
        initMapIfGoogleLoaded();

        form.find("#Consignee_GST").on("input", function () {
            $(this).removeClass('is-invalid').closest('.form-group').removeClass('has-error');
            $(this).nextAll('.validation-error-msg').remove();
        });

        form.find("#Consignee_GST").on("change", function () {
            var gstVal = $(this).val();
            if (!gstVal) {
                form.find("#Consignee_GST").removeClass('is-invalid').closest('.form-group').removeClass('has-error');
                form.find("#Consignee_GST").nextAll('.validation-error-msg').remove();
                return;
            }

            App.blockUI({ boxed: true });
            checkDuplicateGST(gstVal, function (isDuplicate) {
                if (isDuplicate) {
                    App.unblockUI();
                    form.find("#Consignee_GST").val("");
                    form.find("#Consignee_PANNo").val("");
                    form.find("#Consignee_Name").val("");
                    form.find("#Consignee_Address").val("");
                    form.find("#Consignee_Pincode").val(null).trigger("change");
                } else {
                    $.ajax({
                        url: DomainName + '/Master/GetGSTDetails?GSTNO=' + gstVal,
                        type: 'POST',
                        success: function (response) {
                            App.unblockUI();
                            if (response && response.Data && response.Data.length > 0) {
                                form.find("#Consignee_PANNo").val(response.Data[0].PanNo);
                                form.find("#Consignee_Name").val(response.Data[0].TradeName);
                                form.find("#Consignee_Address").val(response.Data[0].CSGEAddress);
                                form.find("#Consignee_Pincode").select2("data", { id: response.Data[0].PinCode, text: response.Data[0].PinCode });
                                form.find("#Consignee_Pincode").change();
                            }
                        },
                        error: function (req, status, error) {
                            TosterNotification("error", 'Operation fail..!! There is some issue please try again or Contact your administrator for more detail.', "Oops..!!");
                            App.unblockUI();
                        }
                    });
                }
            });
        });

        form.find("#Consignee_Pincode").on("change", function () {
            var Consignee_Pincode = $(this).val();
            if (!Consignee_Pincode) {
                form.find("#Consignee_State").val(null).trigger("change");
                form.find("#Consignee_City").val(null).trigger("change");
                form.find("#Consignee_Country").val(null).trigger("change");
                return;
            }
            @*var strUrl = "@Url.Action("GetData", "Account")";
            var parameters = {};
            parameters['Consignee_Pincode'] = Consignee_Pincode;
            $.ajax({
                url: strUrl,
                type: 'POST',
                dataType: "json",
                data: {
                    Method: 'GetCountry_state_City_onPincode',
                    parameters: parameters
                },
                success: function (result) {
                    if (result && result.length > 0) {
                        form.find("#Consignee_State").select2("data", { id: result[0].StateCode, text: result[0].stnm });
                        form.find("#Consignee_City").select2("data", { id: result[0].CityCode, text: result[0].CityName });
                        form.find("#Consignee_Country").select2("data", { id: result[0].countrycd, text: result[0].CountryName });
                    }
                    App.unblockUI();
                },
                error: function (req, status, error) {
                    TosterNotification("error", 'Operation fail..!! There is some issue while update candidate status... Please try again later..', "Oops..!!");
                    App.unblockUI();
                }
            });*@
            $.ajax({
                url: DomainName + '/Master/Get_Country_State_City_Zone_on_Pincode?Code=' + Consignee_Pincode + '&Type=P',
                type: 'GET',
                dataType: "json",
                success: function (response) {
                    console.log(response[0]);
                    console.log(response);
                    if (response && response.length > 0) {

                        // $("#Consignee_State").select2("data", { id: response[0].StateCode, text: response[0].stnm });
                        $("#Consignee_State").val(response[0].StateCode).trigger('change');

                        //  $("#Consignee_City").select2("data", { id: response[0].CityCode, text: response[0].CityName });
                        $("#Consignee_City").val(response[0].CityCode).trigger('change');

                        //$("#Consignee_Country").select2("data", { id: response[0].CountryId, text: response[0].CountryName });
                        $("#Consignee_Country").val(response[0].CountryId).trigger('change');
                    }
                    App.unblockUI();
                },
                error: function (jqXHR, exception) {
                    result = { Status: false, Message: "Error occurred while contacting database or API." };
                }
            });
       
        });

        $(saveBtnId).off('click').on('click', function (e) {
            if (window.toastr) {
                toastr.clear();
            }
            App.blockUI({ boxed: true });
            if (!form.valid()) {
                App.unblockUI();
                return;
            }

            var gstVal = form.find("#Consignee_GST").val();
            checkDuplicateGST(gstVal, function (isDuplicate) {
                if (isDuplicate) {
                    App.unblockUI();
                    return;
                }

                form.find("#Consignee_Location").closest('.form-group').removeClass('has-error');
                form.find("#Consignee_Location").nextAll('.validation-error-msg').remove();
                form.find("#googleMap").parent().css("border", "1px solid #e9ebec");

                var latVal = form.find("#Latitude").val();
                var lngVal = form.find("#Longitude").val();
                var geoLatVal = form.find("#GeoFenceLatitude").val();
                var geoLngVal = form.find("#GeoFenceLongitude").val();
                var radiusVal = form.find("#Radius").val();

                // Skip maps/geofence validations if Google Maps API failed to load (offline/blocked)
                if (typeof google !== 'undefined' && typeof google.maps !== 'undefined') {
                    if (!latVal || !lngVal) {
                        App.unblockUI();
                        form.find("#Consignee_Location").closest('.form-group').addClass('has-error');
                        form.find("#Consignee_Location").after('<span class="validation-error-msg text-danger small mt-1 d-block">Please search and select unloading location from Google search results to place the pinpoint marker.</span>');
                        showGeofenceToast("error", "Please select location from Google autocomplete to place pinpoint marker.", "Validation Error", true);
                        return;
                    }

                    //if (!geoLatVal || !geoLngVal) {
                    //    App.unblockUI();
                    //    form.find("#googleMap").parent().css("border", "2px solid #ea5f5f");
                    //    showGeofenceToast("error", "Please draw a geofence (polygon or circle) enclosing the pinpoint marker.", "Validation Error", true);
                    //    return;
                    //}

                    if (!geoLatVal || !geoLngVal) {
                        // Automatically generate a 5km circle centered at the pinpoint if no geofence is drawn
                        geoLatVal = latVal;
                        geoLngVal = lngVal;
                        radiusVal = "5000";
                        $("#GeoFenceLatitude").val(geoLatVal);
                        $("#GeoFenceLongitude").val(geoLngVal);
                        $("#Radius").val(radiusVal);

                        showGeofenceToast("info", "A 5 km circular geofence was automatically created.", "Auto Geofence", false);
                    }

                    if (circle) {
                        var radiusFloat = circle.getRadius();
                        var isInside = isCoordinateInsideGeofence(latVal, lngVal, geoLatVal, geoLngVal, radiusVal);
                        if (radiusFloat > 5000 || !isInside) {
                            showGeofenceToast("error", "Circle geofence has been reset to 5 km centered on the pinpoint location.", "Validation Warning", true);
                            enforceCircleRules(circle);
                            App.unblockUI();
                            return;
                        }
                    } else {
                        var isInside = isCoordinateInsideGeofence(latVal, lngVal, geoLatVal, geoLngVal, radiusVal);
                        if (!isInside) {
                            App.unblockUI();
                            form.find("#Consignee_Location").closest('.form-group').addClass('has-error');
                            if (form.find("#Consignee_Location").nextAll('.validation-error-msg').length === 0) {
                                form.find("#Consignee_Location").after('<span class="validation-error-msg text-danger small mt-1 d-block">Unloading location pinpoint marker must be inside the geofence area.</span>');
                            }
                            form.find("#googleMap").parent().css("border", "2px solid #ea5f5f");
                            showGeofenceToast("error", "The unloading location pinpoint marker must be inside the drawn geofence.", "Validation Error", true);
                            return;
                        }
                    }
                }

                form.find(":disabled").prop("disabled", false);

                if (isPartial) {
                    var formData = form.serialize();
                    $.ajax({
                        url: form.attr('action'),
                        type: 'POST',
                        data: formData,
                        success: function (response) {
                            App.unblockUI();
                            if (response.Status == "1" || response.Status === true) {
                                if (typeof window.onConsigneeAdded === 'function') {
                                    window.onConsigneeAdded(response);
                                } else {
                                    TosterNotification("success", "Consignee registered successfully!", "Success");
                                    var modalEl = document.getElementById('glFormModal');
                                    if (modalEl) {
                                        var bsModal = bootstrap.Modal.getOrCreateInstance(modalEl);
                                        bsModal.hide();
                                    }
                                }
                            } else {
                                TosterNotification("error", response.Message || "Failed to save consignee.", "Error");
                            }
                        },
                        error: function () {
                            App.unblockUI();
                            TosterNotification("error", "An error occurred while saving the consignee.", "Error");
                        }
                    });
                } else {
                    document.forms['form_consignee_modal'].submit();
                }
            });
        });
    };

    var isPartial = true;
    var DomainName = typeof window.DomainName !== 'undefined' ? window.DomainName : '@Url.Content("~/").TrimEnd('/')';

    function ensureGoogleAndInit() {
        // Initialize the form elements immediately (Select2, Validations, and event bindings)
        initConsigneeMaster(DomainName, isPartial);

        if (typeof google === 'undefined' || typeof google.maps === 'undefined') {
            var gScriptId = 'gmaps-api-script';
            if (!document.getElementById(gScriptId)) {
                var script = document.createElement('script');
                script.id = gScriptId;
                script.src = "https://maps.googleapis.com/maps/api/js?v=3.64&key=AIzaSyAfDCpK-8ZZ9ANpIZazwLqXlkJ8hAc6y3E&libraries=drawing,geometry,places&callback=onGoogleMapsApiLoaded";
                window.onGoogleMapsApiLoaded = function() {
                    if (typeof window.triggerConsigneeMapInit === 'function') {
                        window.triggerConsigneeMapInit();
                    }
                };
                document.head.appendChild(script);
            } else {
                var interval = setInterval(function() {
                    if (typeof google !== 'undefined' && typeof google.maps !== 'undefined') {
                        clearInterval(interval);
                        if (typeof window.triggerConsigneeMapInit === 'function') {
                            window.triggerConsigneeMapInit();
                        }
                    }
                }, 100);
                // Safety timeout to clear interval after 10 seconds
                setTimeout(function() { clearInterval(interval); }, 10000);
            }
        }
    }

    // ── Self-healing Select2 loader ───────────────────────────────────────────
    // On live servers, select2.min.js may still be deferred and not yet executed
    // when this partial's inline <script> fires (injected via AJAX into the modal).
    // Solution: if $.fn.select2 is not available, load it dynamically from the
    // same server, wait for it, then initialise. Works without touching any other file.
    if (typeof $.fn.select2 === 'undefined') {
        var _s2 = document.createElement('script');
        _s2.src = DomainName + '/assets/plugins/select2/select2.min.js';
        _s2.onload = function () { ensureGoogleAndInit(); };
        _s2.onerror = function () {
            // File not found on server — still init the rest of the form
            console.warn('Select2 could not be loaded. Dropdowns will be plain <select> elements.');
            ensureGoogleAndInit();
        };
        document.head.appendChild(_s2);
    } else {
        ensureGoogleAndInit();
    }

</script>