@model IEnumerable<GreenLineDataService.Models.CYGNUS_GRPMST>
@using GreenLineDataService.Models

<div class="table-responsive">
    <table class="table table-hover table-striped align-middle table-nowrap mb-0" id="CustomerGroupList">
        <thead class="table-light">
            <tr>
                <th class="text-center">Group Code</th>
                <th class="text-center">Group Name</th>
                <th class="text-center no-cc">Status</th>
                <th class="text-center no-cc">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var isActive = (item.ActiveFlag != null && item.ActiveFlag.ToUpper() == "Y");
                <tr>
                    <td class="text-center fw-medium">@item.GRPCD</td>
                    <td class="text-center">@item.GRPNM</td>
                    <td class="text-center">
                        <label class="switch">
                            <input type="checkbox" @(isActive ? "checked" : "") 
                                   class="btnToggleStatus" 
                                   data-id="@item.GRPCD" 
                                   data-name="@item.GRPNM">
                            <span class="slider round"></span>
                        </label>
                    </td>
                    <td class="text-center">
                        <button type="button" class="@ViewBag.UI.Buttons.Edit.CssClass btnMasterEdit" 
                                data-id="@item.GRPCD" title="Edit">
                            <i class="@ViewBag.UI.Buttons.Edit.Icon"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
